<h1>Dostępne statystyki</h1>
<a asp-controller="Statistic" asp-action="Products">Statystyki sprzedaży produktów</a><br />
<a asp-controller="Statistic" asp-action="Users">Statystyki ilości zamówień</a>

