<h1>Dostępne statystyki</h1>
<div class="d-inline-block">
    <a asp-controller="Statistic" asp-action="Products" class="btn btn-outline-success">Statystyki sprzedaży produktów</a>
    <a asp-controller="Statistic" asp-action="Users" class="btn btn-outline-danger">Statystyki ilości zamówień</a>
</div>

