@model List<Teashop2.ViewModel.StatisticViewModel>;

<h1>Statystyki sprzedaży produktów</h1>
<br/>

<canvas id="salesChart"></canvas>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var productLabels = @Html.Raw(Json.Serialize(Model.Select(s => s.Key)));
        var productData = @Html.Raw(Json.Serialize(Model.Select(s => s.Value)));

        var ctx = document.getElementById('salesChart').getContext('2d');
        var salesChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: productLabels,
                datasets: [{
                    label: 'Ilość sprzedanych produktów',
                    data: productData,
                    backgroundColor: 'rgb(140, 195, 169)',
                    borderColor: 'rgb(25, 135, 84)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        ctx.stroke();
    </script>
}