@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>To jest super sklep ze smacznymi herbatkami. Życzymy miłych zakupów!&nbsp;<i class="bi bi-emoji-smile-fill"></i></p>
</div>
