@{
    ViewData["Title"] = "Potwierdzenie zamówienia";
}

<h1>@ViewData["Title"]</h1>
    <p>
        Zamówienie złożono pomyślnie. 
        <a asp-controller="Order" asp-action="UserData">Przejdź do listy wszystkich zamówień</a>
    </p>