@model Teashop2.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj produkt</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger">Nazwa jest wymagana</span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Cena</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityOnStock" class="control-label">Ilość na stanie</label>
                <input asp-for="QuantityOnStock" class="form-control" />
                <span asp-validation-for="QuantityOnStock" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">Czy dostępny</label>
                <input class="form-check-input" asp-for="IsAvaliable" />
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy produktów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
