@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Role";
}

<h1>Role w systemie</h1>
<a asp-action="Create">Dodaj</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Nazwa</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>