@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie resetu hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zresetowane. Kliknij <a asp-page="./Login">tutaj</a>aby się zalogować.
</p>
